:root {
    --primary-color: #ff9900; 
    --secondary-color: #827979;
    --background-dark: #f9f9f9;
    --red-tag: #FFB700;
    --transition-speed: 0.3s;
}
body {
    font-family: 'Poppins', sans-serif;
}
.header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 1000;
    filter: blur(3);
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.logo{
    display: flex;
    align-items: center; 
    gap: 2px; 
}
.logo1{
    display: flex;
    align-items: center; 
    gap: 2px; 
}

.logo1:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.icon{
    width: 40px;
    height: 40px;
    background-color: #FFB700; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50%;
}
.P{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.logo-text{
    font-size: 28px;
    font-weight: 700; 
    color: #000000; 
}

nav ul {
    list-style: none;
    display: flex;
}
nav ul li a {
    text-decoration: none;
    color:#333;
    font-weight: 600;
    padding: 10px 15px;
    transition: color var(--transition-speed); 
}
nav ul li a:hover {
    color: var(--primary-color);
}
.search-button {
    display:flex;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    color: #333;
    transition: background-color var(--transition-speed),
    color var(--transition-speed), 
    transform var(--transition-speed),
    box-shadow var(--transition-speed);
}
.search-btn:hover {
    color: var(--primary-color);
    transform: scale(1.1);
}
.btn {
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    transition: background-color var(--transition-speed),
    color var(--transition-speed), 
    transform var(--transition-speed),
    box-shadow var(--transition-speed);
}
.primary-btn {
    background-color: var(--primary-color);
    color: var(--background-light);
    box-shadow: 0 4px 10px rgba(255, 153, 0, 0.4);
}
.primary-btn:hover {
    background-color: #ffb74d;
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(255, 153, 0, 0.6);
}

.secondary-btn {
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    align-items: center;
    gap: 8px;
    padding: 8px 20px;
    border-radius: 20px;
}

.secondary-btn:hover {
    background-color: var(--primary-color);
    color: var(--background-light);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.hero-section {
    padding-bottom: 50px;
}

.hero-content {
    display: grid;
    grid-template-columns: 1fr 1.2fr; 
    gap: 40px;
    align-items: center;
}

.hero-left {
    padding-top: 50px;
}

.tag-line {
    color: var(--red-tag);
    font-weight: 600;
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.hero-left h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 20px;
}



.hero-right {
    background-color: var(--primary-color);
    position: relative;
    height: 600px; 
    border-bottom-left-radius: 200px; 
    overflow: hidden;
}

.hero-img {
    padding-left: 15px;
    padding-bottom: 5px;
    width: 90%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.about-us-section:hover {
    padding: 80px 0;
    background-color: var(--background-dark);
    transition: all 0.4s ease-in-out;
}
.about-us-section {
    padding: 80px 0;
    background-color: var(--background-dark); 
    position: relative; 
    overflow: hidden; 
    z-index: 1000; 
}

.about-us-section .about-us-content {
    position: relative;
    opacity: 3;
    font: bold;

}

.about-us-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("aset/vecteezy_a-delicious-pumpkin-soup-food-cream-in-a-bowl-winter-food_26597719.jpg"); 
    background-size: cover;
    background-position: center;
    opacity: 0; 
    transition: opacity 0.4s ease, filter 0.4s ease; 
}

.about-us-section:hover::before {
    opacity: 0.3; 
    filter: blur(4px);
}

.about-us-section:hover {
    background-color: transparent; 
    border-radius: 15%;
}
.about-us-section:hover .about-right h2, .about-us-section:hover .about-right p {
    color: black;
}
.about-us-content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 60px;
    align-items: center;
}
.about-left {
    position: relative;
}
.about-img-small {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    padding-left: 50px;
}
.about-right h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}
.popular-food-section {
    text-align: center;
}
.popular-food-section h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
}

.food-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.food-card_1 {
    background-color: var(--background-light);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    padding-left: 60px;
    padding-right: 60px;
    transition: transform 0.3s ease;
    display: block;
    justify-content: center;
}
.food-card_1:hover {
    transform: translateY(-10px); 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffceb5;
    border-radius: 20%;
    transition: all 1s ease-in-out;
}
.food-card_1 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius:80px; 
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
}
.food-card_1 h3 {
    padding: 0;
    margin: 0;
    padding-right:0px;
    font-size: 20px;
    display: inline-block;
}
.tags1 {
    display: grid;
    justify-content: right;
    align-items: end; 
    position: relative;
    font-size: 12px;
    font-weight: 600;
    border-radius: 20px;
    align-items: center;
    display: grid;
}
.next1{
    background-color: #c3b4b4;
    cursor: pointer;
    border-radius: 15px;
    padding-block: 5px;
    padding: 5px;
}
.red1{
    background-color: #ffb74d;
    cursor: pointer;
    border-radius: 15px;
    padding-block: 5px;
    padding: 5px;
}
.red1:hover {
    background-color: var(--primary-color);
    color: var(--background-light);
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.next1:hover {
    background-color: var(--secondary-color);
    color: var(--background-light);
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.rating1 {
    padding: 0;
    color: var(--primary-color);
    font-size: 25px;
}
.footer {
    background-color: #f8e7ba;
    border-radius: 10%;
    color: #aaa;
    text-align: center;
    padding: 20px 0;
}
.footer .logo {
    color: var(--primary-color);
    margin-bottom: 10px;
}
.footer .logo .logo-text1{
    font-size: 24px;
    font-weight: 700; 
    color: #000000; 
}

